/* You can add global styles to this file, and also import other style files */
.footer{
  position: absolute;
  overflow:hidden;
  bottom: 0px;
  width: 100%;
  border: 1px solid black;
}

.main-container{
  margin-top: auto;
}
